<div class="breadcrumbs">
	<ul class="breadcrumbs__list">
		{{#if item2}}
		<li class="breadcrumbs__item">
			<a href="index.html" class="breadcrumbs__link">{{link1}}</a>
		</li>
		<li class="breadcrumbs__item">
			<span class="breadcrumbs__now">{{link2}}</span>
		</li>
		{{else if item3 }}
		<li class="breadcrumbs__item">
			<a href="index.html" class="breadcrumbs__link">{{link1}}</a>
		</li>
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link">{{link2}}</a>
		</li>
		<li class="breadcrumbs__item">
			<span class="breadcrumbs__now">{{link3}}</span>
		</li>
		{{else if item4 }}
		<li class="breadcrumbs__item">
			<a href="index.html" class="breadcrumbs__link">{{link1}}</a>
		</li>
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link">{{link2}}</a>
		</li>
		<li class="breadcrumbs__item">
			<span class="breadcrumbs__now">{{link3}}</span>
		</li>
		<li class="breadcrumbs__item">
			<span class="breadcrumbs__now">{{link4}}</span>
		</li>
		{{/if}}
	</ul>
</div>