<ul class="linkster {{ class }}{{#if mod}}linkster--{{ mod }}{{/if}}">
	<li class="linkster__item"><a href="#" class="linkster__link {{ linkClass }}">О&nbsp;магазине</a></li>
	<li class="linkster__item"><a href="#" class="linkster__link {{ linkClass }}">Новости</a></li>
	<li class="linkster__item"><a href="#" class="linkster__link {{ linkClass }}">Как купить</a></li>
	<li class="linkster__item"><a href="#" class="linkster__link {{ linkClass }}">Доставка и&nbsp;оплата</a></li>
	<li class="linkster__item"><a href="#" class="linkster__link {{ linkClass }}">Заказать секс куклу</a></li>
	<li class="linkster__item"><a href="#" class="linkster__link {{ linkClass }}">Производители</a></li>
	<li class="linkster__item"><a href="#" class="linkster__link {{ linkClass }}">Инструкции</a></li>
	<li class="linkster__item"><a href="#" class="linkster__link {{ linkClass }}">Контакты</a></li>
	<li class="linkster__item"><a href="#" class="linkster__link {{ linkClass }}">Обратная связь</a></li>
	<li class="linkster__item"><a href="#" class="linkster__link {{ linkClass }}">FAQ</a></li>
</ul>